src/main/resources/Computer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Computer" type="ComputerType"/>
  <xs:complexType name="PartType">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Cpu"/>
            <xs:enumeration value="Hdd"/>
            <xs:enumeration value="Ram"/>
            <xs:enumeration value="VideoCard"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComputerType">
    <xs:sequence>
      <xs:element type="PartsListType" name="PartsList"/>
      <xs:element type="PowerSupplyType" name="PowerSupply"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartsListType">
    <xs:sequence>
      <xs:element type="PartType" name="Part" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PowerSupplyType">
    <xs:sequence>
      <xs:element type="xs:int" name="Value"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>